@import "~bootstrap/scss/bootstrap.scss";

body {
  width: 100%;
  margin: auto;
  background-color: gray;
}
.input {
  width: 100%;
  text-align: center;
}

a{
  float:right;
  margin-right:20px;
}

.trashIcon:hover {
  color:tomato;
  size: 5px;
}

.deleteButton{
  float: right;
}

.title{
  font-size: 100px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
